body {
    background-color: #000000;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    margin: 0;
	padding:0;
    text-align: center;


}

/* Barra Menu superior*/

.navbar-auto {
    font-size:large;
}

/*estructura Carousel */

.cabezal {

    width:100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 5rem;

}

/*Subtitulos de la web */

h2 {
    padding-bottom: 2rem;
    text-align: center;
}

/* Barra de Color en columnas de Quienes somos*/

ul {

    height : 12%;
    padding-top: 4px;
}
/* Estructura de las CARDS Destacados*/

.col {
    color: #000000;
}

.card-body-2 {
    background-color: #17a2b8;
    padding-bottom: 2rem;
    padding-top: 1rem;

}

.card-title {

    font-weight: 400;
    font-size: 25px;
    
}

.card-text {
    font-size: 15px;
}

/*Estructuracion del Footer */

.centrado {
    display: inline-block;
    width: 55%;
    font-size: 30px;
    }

.viajes {
    margin-right: 220px;
}

.iconos {
    margin-left: 220px;
}


